<h1>
    رايح فييين
</h1>



<video width="600" controls autoplay >
    <source src="/Vid/video.mp4" type="video/mp4">
    <source src="video.ogg" type="video/ogg">
    المتصفح بتاعك مش بيدعم عرض الفيديو.
</video>