@using InventoryManagementSystem.BLL.interfaces
@model Product
@inject ISupplierService _isupplierService;

@{
    var suppliers = new SelectList(await _isupplierService.GetAllAsync(), nameof(Supplier.Id), nameof(Supplier.Name));
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="card p-4 shadow-lg">
        <h1 class="text-center mb-4 text-gray-800">Product Details</h1>

        <div class="form-group mb-3">
            <label asp-for="CategoryId" class="form-label text-gray-700">Category Id</label>
            <input asp-for="CategoryId" class="form-control" readonly />
        </div>

        <div class="form-group mb-3">
            <label asp-for="ProductName" class="form-label text-gray-700">Name</label>
            <input asp-for="ProductName" class="form-control" readonly />
        </div>

        <div class="form-group mb-3">
            <label asp-for="Price" class="form-label text-gray-700">Price</label>
            <input asp-for="Price" class="form-control" readonly />
        </div>

        <div class="form-group mb-3">
            <label asp-for="ProductDescription" class="form-label text-gray-700">Description</label>
            <textarea asp-for="ProductDescription" class="form-control" rows="3" readonly></textarea>
        </div>

        <div class="form-group mb-3">
            <label class="col-form-label text-gray-700" asp-for="Supplier"></label>
            <select class="form-control" asp-for="SupplierId" asp-items="@suppliers" disabled>
                <option value="Null"> -- Select Supplier Name -- </option>
            </select>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-controller="Product" asp-action="Edit" class="btn" style="background-color: #10b981; color: white;">Edit</a>
            <a asp-action="Index" class="btn btn-secondary" asp-route-id="@Model.CategoryId">Back To List</a>
        </div>
    </div>
</div>
